<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-quill-editor@3.0.6/dist/vue-quill-editor.js"></script>
        <link href="https://cdn.quilljs.com/1.3.4/quill.core.css" rel="stylesheet">
        <link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">
        <link href="https://cdn.quilljs.com/1.3.4/quill.bubble.css" rel="stylesheet">
        <style>
            .sort-handle{
                cursor: row-resize;
            }
            .green{
                color: green;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <div style="text-align: right; margin-bottom: 20px;">
                <el-button type="primary" @click="showDialog">新增</el-button>
            </div>
            <el-table
                :data="tableData"
                style="width: 100%"
                border
                row-key="_id"
                class="draggable-table"
            >
                <!-- <el-table-column type="index" width="50"></el-table-column> -->
                <el-table-column prop="index" label="序号" width="70" align="center">
                    <template slot-scope="scope">
                        <div class="sort-handle">{{ scope.row.index }}</div>
                    </template>
                </el-table-column>
                <!-- <el-table-column prop="_id" label="ID" width="250" align="center"></el-table-column> -->
                <el-table-column prop="name" label="名称" width="100" align="center" ></el-table-column>
                <el-table-column prop="subTitle" label="描述"  ></el-table-column>
                <el-table-column prop="status" label="状态" width="220">
                    <template slot-scope="scope">
                        <div :class="{'green': scope.row.status}" >
                            {{['未采集','已采集'][scope.row.status]}}
                        </div>
                    </template>
                </el-table-column>
                <el-table-column label="操作" width="380" >
                    <template slot-scope="scope">
                        <el-button
                            size="mini"
                            type="text"
                            :disabled="!scope.row.status"
                            @click="handlePreview(scope.row)"
                        >
                            预览
                        </el-button>
                        
                        <el-button
                            size="mini"
                            type="text"
                            @click="edit(scope.row)"
                        >
                            编辑
                        </el-button>
                        <el-button
                            size="mini"
                            type="text"
                            style="color:green;"
                            @click="editPath(scope.row)"
                        >
                            采集
                        </el-button>
                        <el-button
                            size="mini"
                            type="text"
                            style="color:red;"
                            @click="handleDelete(scope.row)"
                        >
                            删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>

            <el-drawer :title="`${currentRoad.name}(${currentRoad.subTitle})`" :visible.sync="viewVisible" size="calc(100% - 200px)" >
                <iframe :src="`/admin-view.html?name=${currentRoad.name}`" frameborder="0" style="width:100%;height:100%;" ></iframe>
            </el-drawer>

            <!-- 新增/编辑对话框 -->
            <el-dialog
                :title="isEdit ? '编辑国道信息' : '新增国道信息'"
                :visible.sync="dialogVisible"
                width="500px"
                :before-close="handleClose">
                <el-form :model="form" ref="form" label-width="80px" :rules="rules">
                    <el-form-item label="名称" prop="name">
                        <el-input v-model="form.name" placeholder="请输入国道名称，如G219"></el-input>
                    </el-form-item>
                    <el-form-item label="序号" prop="index">
                        <el-input-number v-model="form.index" :min="0" :step="1"></el-input-number>
                    </el-form-item>
                    <el-form-item label="描述" prop="subTitle">
                        <el-input v-model="form.subTitle" placeholder="请输入描述信息"></el-input>
                    </el-form-item>
                    <el-form-item label="状态" prop="status">
                        <el-radio-group v-model="form.status">
                            <el-radio :label="0">未采集</el-radio>
                            <el-radio :label="1">已采集</el-radio>
                        </el-radio-group>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="dialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="submitForm">确 定</el-button>
                </span>
            </el-dialog>
        </div>
        
    </body>
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/sortablejs@1.15.3/Sortable.min.js"></script>
    <!-- <script src="./lib/pako.js"></script> -->
    

    <script>
        var myEditor;
        Vue.use(VueQuillEditor)
        new Vue({
            el: '#app',
            data: function() {
                return { 
                    name: '',
                    tableData: [],
                    detail: {},
                    drag: false,
                    currentRoad: {},
                    roads: [
                        'G101',
                        'G213', 'G219', 'G228',
                        'G315','G318', 'G331',
                    ],
                    dialogVisible: false,
                    viewVisible: false,
                    isEdit: false,
                    form: {
                        name: '',
                        subTitle: '',
                        index: 0,
                        status: 0,
                    },
                    originalName: null,
                    rules: {
                        name: [
                            { required: true, message: '请输入国道名称', trigger: 'blur' },
                            { pattern: /^G\d+$/, message: '国道名称格式应为G+数字，如G219', trigger: 'blur' }
                        ],
                        subTitle: [
                            { required: true, message: '请输入描述信息', trigger: 'blur' }
                        ]
                    },
                    myEditor: null,
                    editorOption: {
                        modules: {
                            toolbar: {
                                container:[
                                    [{ 'header': [1, 2, 3, false] }],
                                    ['bold', 'italic', 'underline', 'strike',],
                                    ['blockquote', 'code-block', 'link', 'image',],
                                    [{ 'color': [] }, { 'background': [] }],
                                    [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'align': [] }],
                                ],
                                handlers: {'image': this.imageHandler}
                            }
                        },
                        placeholder: 'Compose an epic...',
                        readOnly: false,
                        theme: 'snow'
                    },
                    
                }
            },
            computed: {
                editor() {
                    return this.$refs.myQuillEditor.quill
                }
            },
            mounted() {
                this.name = location.hash ? location.hash.replace(/#/g,'') : 'G219'
                this.loadRoadPaths();
                const tbody = document.querySelector(".draggable-table .el-table__body-wrapper tbody");
                new Sortable(tbody, {
                    animation: 150,
                    handle: ".sort-handle",
                    // 需要在odEnd方法中处理原始eltable数据，使原始数据与显示数据保持顺序一致
                    onEnd: ({ newIndex, oldIndex }) => {
                        const targetRow = this.tableData[oldIndex];
                        this.tableData.splice(oldIndex, 1);
                        this.tableData.splice(newIndex, 0, targetRow);
                        // console.table(this.tableData);
                        this.batchUpdateIndex();
                    },
                });
                
                
            },
            methods: {
                insertImage: function (url) {
                    let range = this.editor.getSelection();
                    this.editor.insertEmbed(range.index, 'image', url)
                },
                uploadImg(base64) {
                    fetch(`https://road.h5cssjs.com/index/uploadImg`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            // "Authorization": Authorization,
                        },
                        body: JSON.stringify({
                            picture: base64
                        })
                    }).then(res => res.json()).then(data => {
                        console.log(data, 1111);
                        this.insertImage(`https://road.h5cssjs.com/${data.data}`)
                    })
                },
                imageHandler() {
                    let input = document.createElement('input');
                    input.setAttribute('type', 'file');
                    input.setAttribute('accept', 'image/png, image/gif, image/jpeg, image/bmp, image/x-icon');
                    input.click();
                    // 监听上传
                    input.onchange = () => {
                        let file = input.files[0];
                        // console.log(file);
                        reader.readAsDataURL(file);
                    };
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        const base64 = e.target.result;
                        console.log(base64); // 输出图片的Base64编码
                        this.uploadImg(base64);
                    };
                    
                },
                loadRoadPaths() {
                    let { name } = this;
                    fetch(`/api/roadList`)
                    .then(res => res.json())
                    .then(data => {
                        this.tableData = data;
                    })
                },
                handleDelete(row) {
                    this.$confirm('确认删除该国道记录及其所有路段数据?', '警告', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        const { name } = row;
                        fetch(`/api/deleteRoad?name=${name}`)
                            .then(res => res.json())
                            .then(data => {
                                if (data.status === 1) {
                                    this.$message({
                                        type: 'success',
                                        message: data.message || '删除成功'
                                    });
                                    // 删除成功后重新加载数据
                                    this.loadRoadPaths();
                                } else {
                                    this.$message.error(data.message || '删除失败');
                                }
                            })
                            .catch(error => {
                                console.error('删除失败:', error);
                                this.$message.error('删除失败，请重试');
                            });
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });          
                    });
                },
                handleDetail(row) {
                    let { name } = this;
                    let { _id } = row;
                    fetch(`https://road.h5cssjs.com/detail/${name}/${_id}`)
                    .then(res => res.json())
                    .then(data => {
                        console.log('路径详情:', data);
                        let paths = JSON.parse(pako.inflate(data.paths, { to: 'string' }));
                        let firstPosition = paths[0].join();
                        let lastPosition = paths.at(-1).join();
                        data.paths = paths;
                        this.detail = data;
                        console.log(this.detail);
                        // 使用find找到tableData中_id等于data._id的项，并添加firstPosition和lastPosition
                        const item = this.tableData.find(item => item._id === data._id);
                        if (item) {
                            this.$set(item, 'firstPosition', firstPosition);
                            this.$set(item, 'lastPosition', lastPosition);
                        }
                    })
                    .catch(error => {
                        console.error('获取详情失败:', error);
                    });
                },
                copyToClipboard(text) {
                    navigator.clipboard.writeText(text).then(() => {
                        this.$message({
                            message: '复制成功',
                            type: 'success'
                        });
                    }).catch(err => {
                        this.$message({
                            message: '复制失败',
                            type: 'error'
                        });
                    });
                },
                // 编辑
                edit(row = {}) {
                    // 标记为编辑模式
                    this.isEdit = true;
                    // 复制行数据到表单，避免直接引用导致的双向绑定问题
                    this.form = JSON.parse(JSON.stringify(row));
                    // 确保状态是数字类型
                    this.form.status = Number(this.form.status || 0);
                    // 保存原始名称，用于更新时识别，因为名称可能会被修改
                    this.originalName = row.name;
                    this.dialogVisible = true;
                },
                handlePreview(row) {
                    this.currentRoad = row;
                    let { name } = row;
                    const url = new URL('/admin-view.html', window.location.origin);
                    url.hash = `#${name}`;
                    this.viewVisible = true;
                    // window.open(url.toString());
                },
                previewAll() {
                    this.handlePreview({
                        name: this.name,
                    })
                },
                // 批量更新index
                batchUpdateIndex() {
                    let indexList = this.tableData.map((item, index) => ({
                        _id: item._id,
                        index,
                    }));
                    let data = {
                        indexList,
                    }
                    console.log(data);
                    fetch(`https://road.h5cssjs.com/index/batchUpdateIndex`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            // "Authorization": Authorization,
                        },
                        body: JSON.stringify(data)
                    }).then(res => res.json()).then(data => {
                        console.log(data);
                        this.$message({
                            message: '保存成功',
                            type: 'success'
                        });
                        this.loadRoadPaths();
                    })
                },
                // 切换国道
                roadChange(road) {
                    this.loadRoadPaths();
                    location.href = `#${road}`;
                },

                showDialog() {
                    // 标记为新增模式
                    this.isEdit = false;
                    // 重置表单为初始状态
                    this.form = {
                        name: '',
                        subTitle: '',
                        index: this.tableData.length, // 默认序号为当前列表长度
                        status: 0
                    };
                    this.originalName = null; // 清空原始名称
                    this.dialogVisible = true;
                },
                handleClose() {
                    this.dialogVisible = false;
                    this.isEdit = false; // 重置编辑状态
                    this.originalName = null; // 清空原始名称
                    if (this.$refs.form) {
                        this.$refs.form.resetFields();
                    }
                },
                submitForm() {
                    this.$refs.form.validate((valid) => {
                        if (valid) {
                            console.log('表单数据:', this.form);
                            // 确定是更新还是添加
                            let url = this.isEdit ? '/api/updateRoad' : '/api/addRoad';
                            
                            // 如果是编辑模式，确保传递正确的名称
                            let formData = {...this.form};
                            if (this.isEdit && this.originalName) {
                                // 这里需要确保后端API能正确识别要更新的记录
                                // 如果API使用名称而非ID作为唯一标识，可能需要传递原始名称
                                formData.originalName = this.originalName;
                            }
                            
                            fetch(url, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify(formData)
                            })
                            .then(res => res.json())
                            .then(data => {
                                console.log('保存结果:', data);
                                if (data.status === 1) {
                                    this.$message({
                                        message: data.message || '保存成功',
                                        type: 'success'
                                    });
                                    this.dialogVisible = false;
                                    // 重新加载数据
                                    this.loadRoadPaths();
                                } else {
                                    this.$message.error(data.message || '操作失败');
                                }
                            })
                            .catch(error => {
                                console.error('保存失败:', error);
                                this.$message.error('保存失败，请重试');
                            });
                        } else {
                            console.log('表单验证失败');
                            return false;
                        }
                    });
                },
                // 去采集
                editPath(row) {
                    window.open(`road-admin.html#${row.name}`);
                }
            }
        })
        // db.G219.updateOne(
        //     { 
        //         _id: ObjectId("6700020195ea894ea8d20706") 
        //     },
        //     { 
        //         $set: { 
        //             "description": "贡山县-察隅县布宗村",
        //         } 
        //     }
        // )

        

    </script>
</html>