<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <style>
            .sort-handle{
                cursor: row-resize;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <div style="text-align: right; margin-bottom: 20px;">
                国道：
                <el-select v-model="name" placeholder="请选择道路" @change="roadChange" style="margin-right: 20px;">
                    <el-option
                        v-for="road in roads"
                        :key="road"
                        :label="road"
                        :value="road">
                    </el-option>
                </el-select>
                <el-button type="primary" @click="goToAddPage">新增</el-button>
                <el-button type="primary" @click="previewAll">预览{{name}}全里程</el-button>
            </div>
            <el-table
                :data="tableData"
                style="width: 100%"
                border
                row-key="_id"
                class="draggable-table"
            >
                <!-- <el-table-column type="index" width="50"></el-table-column> -->
                <el-table-column prop="index" label="序号" width="70" align="center">
                    <template slot-scope="scope">
                        <div class="sort-handle">{{ scope.row.index }}</div>
                    </template>
                </el-table-column>
                <el-table-column prop="_id" label="ID" width="250" align="center"></el-table-column>
                <el-table-column prop="name" label="名称" width="70" align="center" ></el-table-column>
                <el-table-column prop="distance" label="里程(m)"  width="100"></el-table-column>
                <el-table-column prop="description" label="描述"  ></el-table-column>
                <!-- <el-table-column prop="timeString" label="日期"   ></el-table-column> -->
                <el-table-column prop="firstPosition" label="起点位置" width="220">
                    <template slot-scope="scope">
                        <div v-if="scope.row.firstPosition" >
                            <span>{{ scope.row.firstPosition }}</span>
                            <el-button
                                size="mini"
                                icon="el-icon-document-copy"
                                type="text"
                                @click="copyToClipboard(scope.row.firstPosition)"
                            ></el-button>
                        </div>
                        <div v-else>
                            <el-button
                                size="mini"
                                type="text"
                                @click="handleDetail(scope.row)"
                            >
                                获取
                            </el-button>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="lastPosition" label="终点位置" width="220">
                    <template slot-scope="scope">
                        <div v-if="scope.row.lastPosition" >
                            <span>{{ scope.row.lastPosition }}</span>
                            <el-button
                                size="mini"
                                icon="el-icon-document-copy"
                                type="text"
                                @click="copyToClipboard(scope.row.lastPosition)"
                            ></el-button>
                        </div>
                        <div v-else>
                            <el-button
                                size="mini"
                                type="text"
                                @click="handleDetail(scope.row)"
                            >
                                获取
                            </el-button>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column label="操作" width="380" >
                    <template slot-scope="scope">
                        <el-button
                            size="mini"
                            type="primary"
                            @click="handlePreview(scope.row)"
                        >
                            预览
                        </el-button>
                        
                        <el-button
                            size="mini"
                            type="success"
                            @click="goToEditPage(scope.row._id)"
                        >
                            编辑
                        </el-button>
                        <el-button
                            size="mini"
                            type="success"
                            :disabled="!scope.row.lastPosition"
                            @click="goToAddPage(scope.row.lastPosition, scope.row.index, scope.row.description)"
                        >
                            从此处添加
                        </el-button>
                        <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete(scope.row)"
                        >
                            删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </body>
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/sortablejs@1.15.3/Sortable.min.js"></script>
    <script src="./lib/pako.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: function() {
                return { 
                    name: '',
                    tableData: [],
                    detail: {},
                    drag: false,
                    roads: [
                        'G101',
                        'G213', 'G219', 'G228',
                        'G315','G318', 'G331',
                    ]
                }
            },
            mounted() {
                this.name = location.hash ? location.hash.replace(/#/g,'') : 'G219'
                this.loadRoadPaths();
                const tbody = document.querySelector(".draggable-table .el-table__body-wrapper tbody");
                new Sortable(tbody, {
                    animation: 150,
                    handle: ".sort-handle",
                    // 需要在odEnd方法中处理原始eltable数据，使原始数据与显示数据保持顺序一致
                    onEnd: ({ newIndex, oldIndex }) => {
                        const targetRow = this.tableData[oldIndex];
                        this.tableData.splice(oldIndex, 1);
                        this.tableData.splice(newIndex, 0, targetRow);
                        // console.table(this.tableData);
                        this.batchUpdateIndex();
                    },
                });
            
                document.addEventListener('visibilitychange', () => {
                    if (document.visibilityState === 'visible') {
                        this.loadRoadPaths();
                    }
                });

            },
            methods: {
                loadRoadPaths() {
                    let { name } = this;
                    fetch(`https://road.h5cssjs.com/getRoads/${name}`)
                    .then(res => res.json())
                    .then(data => {
                        console.log(data);
                        this.tableData = data.map(item => {
                            item.distance = item.distance?.toLocaleString();
                            if (item.status === 0) {
                                item.description = item.description + `(在建)`;
                            }
                            if (item.status === 2) {
                                item.description = item.description + `(高速)`;
                            }
                            return item;
                        });
                        this.handleDetail(data.at(-1));
                    })
                },
                handleDelete(row) {
                    this.$confirm('确认删除该路径?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        let { name } = this;
                        let { _id } = row;
                        fetch(`https://road.h5cssjs.com/remove/${name}/${_id}`)
                        .then(res => res.json())
                        .then(data => {
                            this.$message({
                                type: 'success',
                                message: data.Message
                            });
                            // 删除成功后重新获取数据
                            this.loadRoadPaths();
                        })
                    })
                },
                handleDetail(row) {
                    let { name } = this;
                    let { _id } = row;
                    fetch(`https://road.h5cssjs.com/detail/${name}/${_id}`)
                    .then(res => res.json())
                    .then(data => {
                        console.log('路径详情:', data);
                        let paths = JSON.parse(pako.inflate(data.paths, { to: 'string' }));
                        let firstPosition = paths[0].join();
                        let lastPosition = paths.at(-1).join();
                        data.paths = paths;
                        this.detail = data;
                        console.log(this.detail);
                        // 使用find找到tableData中_id等于data._id的项，并添加firstPosition和lastPosition
                        const item = this.tableData.find(item => item._id === data._id);
                        if (item) {
                            this.$set(item, 'firstPosition', firstPosition);
                            this.$set(item, 'lastPosition', lastPosition);
                        }
                    })
                    .catch(error => {
                        console.error('获取详情失败:', error);
                    });
                },
                copyToClipboard(text) {
                    navigator.clipboard.writeText(text).then(() => {
                        this.$message({
                            message: '复制成功',
                            type: 'success'
                        });
                    }).catch(err => {
                        this.$message({
                            message: '复制失败',
                            type: 'error'
                        });
                    });
                },
                goToAddPage(firstPosition = '', index=0, description='') {
                    const url = new URL('/drage-route.html', window.location.origin);
                    url.searchParams.append('name', this.name);
                    url.searchParams.append('firstPosition', firstPosition);
                    url.searchParams.append('index', index + 1);
                    url.searchParams.append('description', description.split('-')[1] || description.split('-')[0] || '');
                    // window.location.href = url.toString();
                    window.open(url.toString());
                },
                goToEditPage(_id = '') {
                    const url = new URL('/edit.html', window.location.origin);
                    url.searchParams.append('name', this.name);
                    url.searchParams.append('_id', _id);
                    // window.location.href = url.toString();
                    window.open(url.toString());
                },
                handlePreview(row) {
                    let { name, _id} = row;
                    const url = new URL('/admin-view.html', window.location.origin);
                    console.log(url, 11111);
                    // return
                    
                    // url.searchParams.append('name', name);
                    url.hash = `#${name}`;
                    _id && url.searchParams.append('id', _id);
                    // window.location.href = url.toString();
                    window.open(url.toString());
                },
                previewAll() {
                    this.handlePreview({
                        name: this.name,
                    })
                },
                // 批量更新index
                batchUpdateIndex() {
                    let indexList = this.tableData.map((item, index) => ({
                        _id: item._id,
                        index,
                    }));
                    let data = {
                        name: this.name,
                        indexList,
                    }
                    console.log(data);
                    fetch(`https://road.h5cssjs.com/batchUpdateIndex`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            // "Authorization": Authorization,
                        },
                        body: JSON.stringify(data)
                    }).then(res => res.json()).then(data => {
                        console.log(data);
                        this.$message({
                            message: '保存成功',
                            type: 'success'
                        });
                        this.loadRoadPaths();
                    })
                },
                // 切换国道
                roadChange(road) {
                    this.loadRoadPaths();
                    location.href = `#${road}`;
                },

            }
        })
        // db.G219.updateOne(
        //     { 
        //         _id: ObjectId("6700020195ea894ea8d20706") 
        //     },
        //     { 
        //         $set: { 
        //             "description": "贡山县-察隅县布宗村",
        //         } 
        //     }
        // )
    </script>
</html>